/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    position: absolute;
    width: 100%;
    background-color: #141641;
} */

nav ul li .logo{
    font-size: 12px;
}